body {
  margin: 0;
}

.header {  
  background-color: rgb(13, 208, 233);
  color: #fff;
}

.header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: calc((100vw - 1250px) / 2);
  padding-right: calc((100vw - 1250px) / 2);
  margin-left: 30px;
  margin-right: 30px;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-left: calc((100vw - 1250px) / 2);
  padding-right: calc((100vw - 1250px) / 2);
  margin-left: 30px;
  margin-right: 30px;
}

.weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 150px;
  margin-top: 30px;
  padding: 30px;
  border-radius: 0.375rem;
  border: 1px solid #eee;
  margin-bottom: 30px;
  text-align: center;
}

.heading {
  margin-top: 0;
}

.temp {
  color:rgb(6, 85, 255);
  
}

.max-temp {
  font-size: 2.25rem;
  display: block;
  font-weight: 700;
}

.min-temp {
  font-size: 1.5rem;
  display: block;
}

.description {
  font-size: 1.25rem;
}